
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background: black;
}

a {
  color: white;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

#menu {
  background: rgba(128, 128, 128, 0.5);
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: bottom;
  opacity: 0.4;
}

#menumain {
  padding: 8px;
  font-size: 13px;
  font-family: sans-serif;
}

#menu:hover {
  opacity: 1;
}

span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid white;
}

.red {
  background: rgb(255, 76, 0);
}

.blue {
  background: rgb(76, 76, 255);
}

.black {
  background: black;
}

.green {
  background: rgb(52, 255, 76);
}

#closebtn {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  line-height: 0;
}
